## Preprocessing

In [108]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()
print(application_df)

             EIN                                               NAME  \
0       10520599                       BLUE KNIGHTS MOTORCYCLE CLUB
1       10531628             AMERICAN CHESAPEAKE CLUB CHARITABLE TR
2       10547893                 ST CLOUD PROFESSIONAL FIREFIGHTERS
3       10553066                     SOUTHSIDE ATHLETIC ASSOCIATION
4       10556103           GENETIC RESEARCH INSTITUTE OF THE DESERT
...          ...                                                ...
34294  996009318              THE LIONS CLUB OF HONOLULU KAMEHAMEHA
34295  996010315           INTERNATIONAL ASSOCIATION OF LIONS CLUBS
34296  996012607                                PTA HAWAII CONGRESS
34297  996015768  AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...
34298  996086871                           WATERHOUSE CHARITABLE TR

      APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0                  T10       Independent          C1000    ProductDev
1                   T3       Independent          C2000  Preservation
2                   T5  CompanySponsored          C3000    ProductDev
3                   T3  CompanySponsored          C2000  Preservation
4                   T3       Independent          C1000     Heathcare
...                ...               ...            ...           ...
34294               T4       Independent          C1000    ProductDev
34295               T4  CompanySponsored          C3000    ProductDev
34296               T3  CompanySponsored          C2000  Preservation
34297               T5       Independent          C3000    ProductDev
34298               T3       Independent          C1000  Preservation

       ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS   ASK_AMT  \
0       Association       1              0                      N      5000
1      Co-operative       1         1-9999                      N    108590
2       Association       1              0                      N      5000
3             Trust       1    10000-24999                      N      6692
4             Trust       1  100000-499999                      N    142590
...             ...     ...            ...                    ...       ...
34294   Association       1              0                      N      5000
34295   Association       1              0                      N      5000
34296   Association       1              0                      N      5000
34297   Association       1              0                      N      5000
34298  Co-operative       1          1M-5M                      N  36500179

       IS_SUCCESSFUL
0                  1
1                  1
2                  0
3                  1
4                  1
...              ...
34294              0
34295              0
34296              0
34297              1
34298              0

[34299 rows x 12 columns]

In [109]:
#import tensorflow as tf

In [110]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN"],1)

In [111]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [112]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [113]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [114]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C4500        1
C1580        1
C2380        1
C3700        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [115]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1257        5
C1600        5
C2710        3
C0           3
C1260        3
C1256        2
C1234        2
C3200        2
C1246        2
C1267        2
Name: CLASSIFICATION, dtype: int64

In [116]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [117]:
# Convert categorical data to numeric with `pd.get_dummies`
X = pd.get_dummies(application_df)
X.head(5)

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [118]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_df["IS_SUCCESSFUL"].values
print(application_df)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

                                                    NAME APPLICATION_TYPE  \
0                           BLUE KNIGHTS MOTORCYCLE CLUB              T10
1                 AMERICAN CHESAPEAKE CLUB CHARITABLE TR               T3
2                     ST CLOUD PROFESSIONAL FIREFIGHTERS               T5
3                         SOUTHSIDE ATHLETIC ASSOCIATION               T3
4               GENETIC RESEARCH INSTITUTE OF THE DESERT               T3
...                                                  ...              ...
34294              THE LIONS CLUB OF HONOLULU KAMEHAMEHA               T4
34295           INTERNATIONAL ASSOCIATION OF LIONS CLUBS               T4
34296                                PTA HAWAII CONGRESS               T3
34297  AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...               T5
34298                           WATERHOUSE CHARITABLE TR               T3

            AFFILIATION CLASSIFICATION      USE_CASE  ORGANIZATION  STATUS  \
0           Independent          C1000    ProductDev   Association       1
1           Independent          C2000  Preservation  Co-operative       1
2      CompanySponsored          C3000    ProductDev   Association       1
3      CompanySponsored          C2000  Preservation         Trust       1
4           Independent          C1000     Heathcare         Trust       1
...                 ...            ...           ...           ...     ...
34294       Independent          C1000    ProductDev   Association       1
34295  CompanySponsored          C3000    ProductDev   Association       1
34296  CompanySponsored          C2000  Preservation   Association       1
34297       Independent          C3000    ProductDev   Association       1
34298       Independent          C1000  Preservation  Co-operative       1

          INCOME_AMT SPECIAL_CONSIDERATIONS   ASK_AMT  IS_SUCCESSFUL
0                  0                      N      5000              1
1             1-9999                      N    108590              1
2                  0                      N      5000              0
3        10000-24999                      N      6692              1
4      100000-499999                      N    142590              1
...              ...                    ...       ...            ...
34294              0                      N      5000              0
34295              0                      N      5000              0
34296              0                      N      5000              0
34297              0                      N      5000              1
34298          1M-5M                      N  36500179              0

[34299 rows x 11 columns]

In [119]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [120]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
print(number_input_features)
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

NameError: name 'tf' is not defined

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

NameError: name 'nn' is not defined

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100, callbacks=[cp_callback])

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
nn.save("trained_attrition.h5")